<main class="profile__section">
    <div class="section__profile-card">
        <div class="profile-card__background">
            <div class="profile-card__nameboard">
                <div class="nameboard__icon"></div>

                <div class="nameboard__username">
                    <div class="username__name">
                        <p>Daniel Suntcov</p>
                    </div>

                    <div class="username__subname">
                        <p>CEO / Founder</p>
                    </div>
                </div>

                <ul class="username__social">
                    <div class="social-media__first-item item"></div>
                    <div class="social-media__second-item item"></div>
                    <div class="social-media__third-item item"></div>
                </ul>
            </div>
        </div>

        <div class="profile-card__about">
            <div class="about__title">
                <p>About me</p>
            </div>

            <div class="about__subtitle">
                <p>Ничего страшного, что ты не понимаешь. Ты и не должен.</p>
                &nbsp;
                <p>Не трать ещё один год на одно и тоже!</p>
            </div>
        </div>
    </div>

    <div class="section__news-feed">
        <div class="news-feed__new-post_input">
            <!-- <input type="text" class="new-post" placeholder="What's new with you?"> -->
            <textarea class="new-post" cols="10" rows="1" id="newPostTextarea"
                placeholder="What's new with you?"></textarea>
        </div>

        <div class="news-feed__empty">
            <p>Your page is empty. Want to add?</p>
            <button class="add-post" id="addPostButton">Add post</button>
        </div>
    </div>
</main>