.profile__section {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(2, max-content);

    .section__profile-card {
        width: 100%;
        display: grid;
        background-color: white;

        padding: 12px;
        border-radius: 25px;
        box-shadow: 0 0 10px 2px rgb(230, 230, 230);

        .profile-card__background {
            background: url(/src/assets/images/background.jpg);

            height: 25vh;
            border-radius: 13px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center -490px;

            display: grid;
            justify-items: center;

            .profile-card__nameboard {
                width: 85%;
                display: grid;
                grid-gap: 15px;
                height: max-content;
                align-items: center;
                grid-template-columns: max-content auto max-content;

                padding: 13px;
                border-radius: 15px;
                backdrop-filter: blur(5px);
                background-color: rgba(255, 255, 255, 0.8);
                box-shadow: (0 10px 20px 10px rgba(230, 230, 230, 0.5));

                position: relative;
                top: 74%;

                .nameboard__icon {
                    width: 70px;
                    height: 70px;

                    border-radius: 10px;
                    background: url(/src//assets/images/6sept.jpeg);

                    background-size: cover;
                    box-shadow: 0px 5px 10px 1px rgb(170, 170, 170);
                }

                .nameboard__username {
                    display: grid;

                    .username__name {
                        font-size: 16px;
                        font-weight: 590;
                        color: rgb(90, 90, 90);
                    }

                    .username__subname {
                        color: gray;
                        font-size: 13px;
                    }
                }

                .username__social {
                    display: grid;
                    grid-gap: 15px;
                    list-style: none;
                    margin-right: 10px;
                    grid-template-columns: repeat(3, max-content);

                    .social-media__first-item {
                        background: url(/src/assets/svg/facebook.svg);
                        background-color: rgb(24, 119, 242);
                    }

                    .social-media__second-item {
                        background: url(/src/assets/svg/twitter.svg);
                        background-color: rgb(29, 161, 242);
                    }

                    .social-media__third-item {
                        background: url(/src/assets/svg/github.svg);
                        background-color: rgb(36, 41, 46);
                    }

                    .item {
                        width: 35px;
                        height: 35px;
                        border-radius: 8px;

                        display: grid;
                        align-items: center;
                        justify-content: center;

                        background-size: 20px 20px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        .profile-card__about {
            display: grid;
            grid-gap: 15px;
            padding: 70px 55px 15px 55px;

            .about__title {
                font-weight: 590;
                font-size: 20px;
                color: rgb(70, 70, 70);
            }

            .about__subtitle {
                color: rgb(150, 150, 150);
            }
        }
    }

    .section__news-feed {
        width: 100%;
        display: grid;
        background-color: white;

        padding: 22px;
        border-radius: 25px;
        box-shadow: 0 0 10px 2px rgb(230, 230, 230);

        .news-feed__new-post_input {

            .new-post {
                width: 100%;
                padding: 8px;
                font-size: 14px;

                border: none;
                resize: none;
                outline: none;
                border-radius: 2px;
                caret-color: green;
                border-bottom: 2px solid rgb(230, 230, 230);
            }

            .new-post::placeholder {
                font-style: italic;
            }

            .new-post:focus {
                border-color: green;
            }
        }

        .news-feed__empty {
            height: 50vh;
            color: gray;
            display: grid;
            grid-gap: 10px;
            align-content: center;
            justify-items: center;

            .add-post {
                cursor: pointer;

                border: none;
                outline: none;
                color: white;
                font-size: 14px;
                padding: 10px 25px;
                width: fit-content;
                border-radius: 20px;
                background-color: green;
            }
        }
    }
}