<div class="right-block">
    <section class="connections">
        <div class="connections__title">
            <p>Connections</p>
        </div>

        <div class="frends-recommend">
            <ul class="friends__list">
                <li class="list__first-item item">
                    <div class="first-item__img img"></div>

                    <div class="first-item__nickname nickname">
                        <div class="nickname__name name">Test Bot1</div>

                        <div class="nickname__subname subname">Back-end Developer</div>
                    </div>

                    <div class="first-item__request request">
                        <p>Send Message</p>
                    </div>
                </li>

                <li class="list__second-item item">
                    <div class="second-item__img img"></div>

                    <div class="second-item__nickname nickname">
                        <div class="nickname__name name">Test Bot2</div>

                        <div class="nickname__subname subname">CTO</div>
                    </div>

                    <div class="second-item__request request">
                        <p>Send Message</p>
                    </div>
                </li>

                <li class="list__third-item item">
                    <div class="third-item__img img"></div>

                    <div class="third-item__nickname nickname">
                        <div class="nickname__name name">Test Bot3</div>

                        <div class="nickname__subname subname">Project Manager</div>
                    </div>

                    <div class="thrid-item__request request">
                        <p>Send Message</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="more-details">
        <div class="more-details__title">
            <p>More Details</p>
        </div>

        <div class="information info">
            <ul class="info__list">
                <li class="list__email more-item">
                    <div class="email__logo logo"></div>

                    <div class="email__text-block text-block">
                        <div class="email__tille more-title">
                            <p>Email</p>
                        </div>

                        <div class="email__subtitle more-subtitle">
                            <p>tyletamine@mail.ru</p>
                        </div>
                    </div>
                </li>

                <li class="list__lang more-item">
                    <div class="lang__logo logo"></div>

                    <div class="lang__text-block text-block">
                        <div class="lang__tille more-title">
                            <p>Languages</p>
                        </div>

                        <div class="lang__subtitle more-subtitle">
                            <p>Russian, English</p>
                        </div>
                    </div>
                </li>

                <li class="list__edu more-item">
                    <div class="edu__logo logo"></div>

                    <div class="edu__text-block text-block">
                        <div class="edu__tille more-title">
                            <p>Education</p>
                        </div>

                        <div class="edu__subtitle more-subtitle">
                            <p>Harvard</p>
                        </div>
                    </div>
                </li>

                <li class="list__skills more-item">
                    <div class="skills__logo logo"></div>

                    <div class="skills__text-block text-block">
                        <div class="skills__tille more-title">
                            <p>Skills</p>
                        </div>

                        <div class="skills__subtitle more-subtitle">
                            <p>JavaScript, HTML</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>